/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  height: 100vh;
  font-family: 'Bree Serif';
}

h1 {
  color: #f0bb03;
  font-size: 60px;
  margin-bottom: 0px;
}

p {
  color: white;
  font-size: 25px;
}

button {
  color: #1e293b;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
